<a href="https://colab.research.google.com/github/ikanx101/Shopee-Code-League-2021/blob/main/Shopee_Code_League_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
rm(list=ls())
library(jsonlite)
library(dplyr)
library(tidyr)
library(stringr)


data = read_json("contacts.json")
n = length(data)

sample_n = c(1:10,499990:500000)

id = c()
email = c()
phone = c()
contact = c()
order_id = c()

for(i in 1:n){
  temp = data[[i]]
  id[i] = temp$Id
  email[i] = temp$Email
  phone[i] = temp$Phone
  contact[i] = temp$Contacts
  order_id[i] = temp$OrderId
}

data_new = data.frame(id,email,phone,contact,order_id)

cek = function(i){
  email_find = data_new$email[i]
  n_email_find = str_length(email_find)
  if(n_email_find > 0){
    d_1 = data_new %>% filter(email == email_find)
  } else(d_1 = data.frame())
  
  phone_find = data_new$phone[i]
  n_phone_find = str_length(phone_find)
  if(n_phone_find > 0){
    d_2 = data_new %>% filter(phone == phone_find)
  } else(d_2 = data.frame())
  
  order_id_find = data_new$order_id[i]
  n_order_id_find = str_length(order_id_find)
  if(n_order_id_find > 0){
    d_3 = data_new %>% filter(order_id == order_id_find)
  } else(d_3 = data.frame())
  
  final = rbind(d_1,d_2)
  final = rbind(final,d_3)
  final$ticket_id = i-1
  
  final = 
    final %>% 
    distinct %>%
    arrange(id) %>% 
    group_by(ticket_id) %>% 
    summarise(p1 = paste(id,collapse = "-"),
              p2 = sum(contact)) %>% 
    ungroup() %>% 
    mutate(`ticket_trace/contact` = paste(p1,p2,sep = ",")) %>% 
    select(-p1,-p2)
  
  return(final)
}

hasil_final = data.frame()

for(i in sample_n){
  temp_x = cek(i)
  hasil_final = rbind(temp_x,hasil_final)
  print(i)
}

saved_data = head(data,4)
saved_data_new = head(data_new,4)
save(saved_data,saved_data_new,hasil_final,file = "all.rda")

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 499990
[1] 499991
[1] 499992
[1] 499993
[1] 499994
[1] 499995
[1] 499996
[1] 499997
[1] 499998
[1] 499999
[1] 500000

In [37]:
hasil_final

   ticket_id ticket_trace/contact
1  499999    499999,0
2  499998    121111-499998,5
3  499997    499997,2
4  499996    499996,4
5  499995    499995,2
6  499994    184208-499994,4
7  499993    499993,4
8  499992    499992,2
9  499991    499991,0
10 499990    204097-499990,2
11 499989    388551-448689-499989,4
12      9    9-13-343161,1
13      8    8-183160,5
14      7    7,1
15      6    6-38-32871-142067,10
16      5    5-50,4
17      4    4,2
18      3    3,0
19      2    2-348955,0
20      1    1-2458-476346,5
21      0    0,1